---
import "../../styles/global.css";
import ScrollToTop from '../../components/ScrollToTop.astro';
import Nav from '../../components/Nav.astro';
import Footer from '../../components/Footer.astro';
import Meta from '../../components/Meta.astro';
---

<html lang="nl">
  <head>
    <Meta />
    <title>TaiGraphics - UX/UI Designer met passie voor Visual Design, Branding en Front-end Development</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
  </head>
<body class="font-['Inter'] bg-[#F5F5F5] border-t-8 border-[#0000FF]">

<Nav />

    <section role="main">
      <div class="max-w-[800px] mx-auto p-4">
        <h1 class="text-4xl mt-10 mb-6">Waarom ik zo te spreken ben over Astro.build!</h1>
        <p class="leading-8 my-4 text-[#555]"><span class="text-[#00ADEE]"><strong>Tooling</strong></span> - <img src="/heroicons/clock.svg" class="inline mr-1 mb-1 w-5 h-5" alt="Leestijd">5 minuten leestijd - 04 maart 2026</p>
        <p class="leading-8 mt-2">Lichtgewicht, bliksem-snelle page-loads, duurzaam en binnen enkele uren live! Mijn stack bestaat uit Astro + TailwindCSS, een Ubuntu VPS, Visual Studio Code en een vleugje Mistral Le Chat. Meer heb je echt niet nodig, lees verder waarom!</p>
      </div>
    </section>

    <section role="complementary">
      <div class="max-w-[800px] mx-auto p-4">
        <h2 class="text-2xl">Cut the fluff; Astro.Build als framework</h2>
        <p class="leading-8 mt-3">Wist je dat een gemiddelde website met een standaard CMS (vb. Wordpress) 500MB tot 1GB diskspace nodig heeft, voor een basis website? Heb je die dan ook echt nodig voor je site? Ik wilde een framework dat van nature schoon en minimaal is. Geen CMS met eindeloze updates, plugins en performance-puzzels, maar een oplossing die vanaf dag 1 effici&euml;ntie vooropstelt.</p>
        <p class="leading-8 mt-3">Astro.build biedt precies dat: een static site builder die HTML, CSS en JavaScript genereert; zonder database en onnodige serverprocessing. Breng je project terug naar een behapbare set-up. Resultaat? Een portfolio van minder dan 4MB (exclusief assets), sub-second laadtijden met minimale carbon footprint.</p>
        <img src="/astrobuild.png" class="w-full my-4 rounded-lg shadow" alt="Persona voorbeeld"/>
        <p><em>Unique Selling Point van: Astro.Build</em></p>
      <!-- Card is repeatable -->
      <div class="grid grid-cols-[100%] gap-2 bg-white rounded-xl shadow mt-8 overflow-hidden">
        <div class="p-6">
          <h3 class="text-xl pt-1 pb-2">Tip van Tai, stappenplan:</h3>
          <p class="leading-8"><em>Welke stappen heb ik ondernomen:</em></p>
          <ol class="list-disc pl-6 mt-3 text-[#555] text-sm">
            <li type="1" class="pb-4">Onderzocht welke framework en tools het beste past bij mijn doel: een lightweight, snel en duurzaam portfolio. Daarnaast gaf het mij veel controle op mijn eigen HTML structuur.</li>
            <li type="1" class="pb-4">Ik koos voor een leeg nieuw project met Astro. Maar er bestaan ook starter-templates. In dit geval gebruikte ik TailwindCSS als startpunt (standaard spacings etc.). En heb ik mijn Figma-designs erop gebaseerd met dezelfde spacing en met een eigen thema en design.</li>
            <li type="1" class="pb-4">Integreer TailwindCSS in je Astro.Build project voor het gebruik van utility classes en styling, dit zorgt ook voor een consistente design in je project. Maak losse componenten voor consistentie en hergebruik.</li>
            <li type="1" class="pb-4">Project lokaal testen en verifi&euml;ren. Via Visual Studio Code project inrichten en installeren van de Astro Plugin. En vervolgens mijn eerste projectstructuur met Astro.Build naar GitHub gepushed voor versiebeheer.</li>
            <li type="1" class="pb-4">Kies een hosting provider en zet je project live. Ik koos voor een kleine en lightweight VPS met Ubuntu, maar er zijn ook andere opties zoals Netlify of Vercel waarop Astro.Build ook op kan draaien.</li>
            <li type="1" class="pb-4">Gebruik gemaakt van Mistral Le Chat voor de verdere inrichting en optimalisatie van het project en VPS, en uiteraard de koppeling met SSL, Domein en VPS. De kennis voor de voorgaande stappen had ik al, maar ook hier voor kun je Le Chat gebruiken om je te helpen met inrichten van je project!</li>
          </ol>
          </div>
      </div>
       <p class="leading-8 my-6"><a href="/blog" class="mb-2 py-2 px-6 inline-block bg-[#0000FF] font-bold transition duration-250 ease-in-out border border-[#F5F5F5] text-white text-sm rounded-full hover:bg-white hover:text-[#0000FF] hover:border hover:border-[#0000FF]">Terug naar overzicht</a></p>
      <!-- End Repeatable Card -->   
      </div>
    </section>

    

    <Footer />

    <ScrollToTop />
  </body>
</html>
