---
import "../../styles/global.css";
import ScrollToTop from '../../components/ScrollToTop.astro';
import Nav from '../../components/Nav.astro';
import Footer from '../../components/Footer.astro';
import Meta from '../../components/Meta.astro';
---

<html lang="nl">
  <head>
    <Meta />
    <title>TaiGraphics - UX/UI Designer met passie voor Visual Design, Branding en Front-end Development</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
  </head>
<body class="font-['Inter'] bg-[#F5F5F5] border-t-8 border-[#0000FF]">

<Nav />

    <section role="main">
      <div class="max-w-[700px] mx-auto p-4">
        <h1 class="text-4xl mt-10 mb-6">Persona Library met generatieve A.I.</h1>
        <p class="leading-8 my-4 text-[#555]"><span class="text-[#AA33BB]">Artificial Intelligence</span> - <img src="/heroicons/clock.svg" class="inline mr-1 mb-1 w-5 h-5" alt="Leestijd">5 minuten leestijd - 26 februari 2026</p>
        <h2 class="text-2xl">Wat verstaan we onder persona's?</h2>
        <p class="leading-8 mt-3">Een persona is een geweldig hulpmiddel bij het valideren/verifi&euml;ren van gebruikersbehoeften en -doelen in je onderzoek. Daarnaast is het een <strong>representatie van je echte gebruikers</strong>. Een persona is een fictieve, maar realistische gebruiker binnen je doelgroep. Dergelijke profielen van key-users helpen je om je doelgroep en hun gedrag beter te begrijpen en maken het mogelijk om data-gedreven beslissingen te nemen.</p>
        <p class="leading-8 mt-3">Het maken van persona's ondersteunt je user-centered designproces en vormt een van de eerste stappen in het doelgroeponderzoek. Nadat je onderzoek hebt gedaan via bijvoorbeeld <strong>surveys</strong> of <strong>interviews</strong>, kun je de verzamelde data gebruiken om aan de slag te gaan met het ontwikkelen van je persona's.</p>
        <img src="/artifact003.png" class="w-full my-4 rounded-lg shadow" alt="Persona voorbeeld"/>
        <p><em>Screenshot: Single user persona voorbeeld</em></p>
      </div>
    </section>

    <section role="complementary">
      <div class="max-w-[700px] mx-auto p-4">
        <h2 class="text-2xl">Laat een AI chattool je persona aanscherpen!</h2>
        <p class="leading-8 mt-3">Maak gebruik van A.I. in de persona-creatiefase, maar laat het je persona's niet vanaf nul opbouwen. Je hebt immers al data verzameld en grondig onderzoek gedaan naar je doelgroep.
        <p class="leading-8 mt-3">Gebruik een chattool daarom als <strong>kritische sparringpartner</strong>. Laat de tool je persona's analyseren, vragen stellen bij aannames en mogelijke blinde vlekken signaleren. Het kan helpen om inconsistenties te ontdekken, gedragingen concreter te formuleren en aanvullende behoeften of motivaties zichtbaar te maken. Zie A.I. vooral als verrijking van je bestaande onderzoek.</p>
      
       <!-- Card is repeatable -->
      <div class="grid grid-cols-[100%] gap-2 bg-white rounded-lg shadow mt-8 overflow-hidden">
        <div class="p-6">
          <h3 class="text-xl pt-1 pb-2">Tip van Tai, prompt inspiratie:</h3>
          <p class="leading-8"><em>Wat kun je overwegen om te vragen aan de chattool:</em></p>
          <ul class="list-disc pl-6 mt-3 text-[#555] text-sm">
            <li class="pb-4">"Analyseer mijn persona's en geef feedback op mogelijke inconsistenties of aannames."</li>
            <li class="pb-4">"Welke aanvullende behoeften of motivaties zie je in mijn persona's die ik mogelijk over het hoofd heb gezien?"</li>
            <li class="pb-4">"Kun je me helpen om de gedragingen van mijn persona's concreter te formuleren?"</li>
            <li class="pb-4">"Welke blinde vlekken zie je in mijn persona's op basis van de data die ik heb verzameld?"</li>
          </ul>
          </div>
      </div>
      <!-- End Repeatable Card -->
      </div>
    </section>

    <section role="complementary">
      <div class="max-w-[700px] mx-auto p-4">
        <h2 class="text-2xl">Multi-user roept om een library!</h2>
        <p class="leading-8 mt-3">In mijn eerdere ervaringen binnen UX en het maken van bijvoorbeeld high-level journeys weet je vooraf al dat je te maken hebt met meerdere users met verschillende belangen (zowel interne als externe gebruikers). Bouw daarom een persona-library op waar stakeholders binnen het project <strong>toegang toe hebben</strong>. Gebruik bijvoorbeeld een gedeeld Figma-document, maar een Confluence-pagina kan ook al werken.</p>
        <p class="leading-8 mt-3">Zorg voor een <em>shared understanding</em>: praat men over dezelfde persona? Je zorgt er hierdoor voor dat de context behouden blijft tijdens het ideation- en implementatieproces en discussies. Daarnaast kun je vanuit de persona's concrete use-cases uitwerken. Op basis van hun doelen, behoeften en pijnpunten vertaal je inzichten naar realistische scenario's die richting geven aan ontwerpkeuzes en prioritering.</p>
         <img src="/artifact011.png" class="w-full my-4 rounded-lg shadow" alt="Figma Persona Library"/>
         <p><em>Screenshot: Figma Persona Library</em></p>  
      </div>
    </section>

    <section role="complementary">
      <div class="max-w-[700px] mx-auto p-4">
        <h2 class="text-2xl">Wat kun je nog meer doen?</h2>
        <p class="leading-8 mt-3">Je hebt een persona library, wat nu? Vanuit een persona kun je artefacts uitbouwen naar bijvoorbeeld customer journeys of service blueprints, dat ligt voor de hand.</p>
        <p class="leading-8 mt-3">Maar je kunt je persona ook verrijken! Zelf heb ik in verschillende projecten persona's uitgebreid met bijbehorende use-cases en service priorities ter aanvulling. Kenmerken die je hieraan kunt koppelen zijn bijvoorbeeld de nevenwerkzaamheden van een persona, welke notificaties iemand kan verwachten, wat de dagelijkse taken zijn en welke media men volgt.</p>
        <p class="leading-8 mt-3">Allemaal elementen die helpen om empathie te vergroten. Ik hoop dat ik je heb ge&iuml;nspireerd. Happy persona creation!</p>
        <p class="leading-8 my-6"><a href="/blog" class="mb-2 py-2 px-6 inline-block bg-[#0000FF] font-bold transition duration-250 ease-in-out border border-[#F5F5F5] text-white text-sm rounded-full hover:bg-white hover:text-[#0000FF] hover:border hover:border-[#0000FF]">Terug naar overzicht</a></p>
      </div>
    </section>

    <Footer />

    <ScrollToTop />
  </body>
</html>
