---
import "../../styles/global.css";
import ScrollToTop from '../../components/ScrollToTop.astro';
import Nav from '../../components/Nav.astro';
import Footer from '../../components/Footer.astro';
import Meta from '../../components/Meta.astro';
---

<html lang="nl">
  <head>
    <Meta />
    <title>TaiGraphics - UX/UI Designer met passie voor Visual Design, Branding en Front-end Development</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
  </head>
<body>

<Nav active="blog" />

    <section role="main">
      <div class="max-w-[800px] mx-auto p-4">
        <h1 class="text-4xl mt-10 mb-6">Toolbox Talk - Mistral, DaVinci, PenPot & meer!</h1>
        <p class="leading-7 my-4 text-[color:var(--color-text-muted)]"><span class="blog-tag blog-tag--tooling">Tooling</span> <span class="text-[color:var(--color-text-muted)]">·</span> <img src="/heroicons/clock.svg" class="inline mr-1 mb-1 w-5 h-5 align-middle" alt="Leestijd">4 minuten leestijd - 24 maart 2026</p>
        <p class="leading-7 mt-2">Figma is momenteel de meest gebruikte tool voor UX/UI-designers. Voor andere tools zijn er nog steeds waardevolle (open-source) alternatieven die het overwegen waard zijn, afhankelijk van je specifieke behoeften, workflow of organisatorische context. In dit artikel deel ik graag mijn toolbox met enkele interessante opties op Figma, maar ook bijvoorbeeld video-editing tools.</p>
      </div>
    </section>

    <section role="complementary">
      <div class="max-w-[800px] mx-auto p-4">
        <img src="/2026-03-24-000.png" class="w-full my-4 rounded-lg shadow" alt="Interface PenPot"/>
        <h2 class="text-2xl">1. PenPot - open-source alternatief voor Figma</h2>
        <p class="leading-7 mt-3">Op het eerste gezicht lijkt PenPot veel op Figma, maar het heeft 1 belangrijk USP: het is volledig open-source en gratis te gebruiken, zonder limiet op aantal bestanden, teams (tot 8 gebruikers) of plugins. Bovendien kun je PenPot <strong>self-hosted</strong> installeren, wat het geschikt maakt voor organisaties die GDPR-, SOC2- of HIPAA-compliance nodig hebben. Het product mist nog wel de krachtige Auto Layout van Figma bijvoorbeeld, maar toch een aanrader om in de gaten te houden, want de ontwikkelingen gaan snel.</p>
        <p class="leading-7 mt-3">Check het: <a href="https://www.penpot.app" class="link-inline" target="_blank">www.penpot.app</a></p>
      </div>
    </section>

    <section role="complementary">
      <div class="max-w-[800px] mx-auto p-4">
        <img src="/2026-03-24-001.png" class="w-full my-4 rounded-lg shadow" alt="Interface Mistral Le Chat"/>
        <h2 class="text-2xl">2. Mistral Le Chat - Europees alternatief voor AI-tools</h2>
        <p class="leading-7 mt-3">Mistral Le Chat is een <strong>Europees</strong> alternatief voor tools zoals ChatGPT of DeepSeek. Het verkennen van alternatieven is belangrijk, zeker gezien de recente wereldwijde ontwikkelingen en politieke verschuivingen die de afhankelijkheid van tools uit de VS of China benadrukken. Met Le Chat behoud je meer controle over data en compliance en kun je bewustere keuzes maken in AI-tools.</p>
        <p class="leading-7 mt-3">Check het: <a href="https://chat.mistral.ai/chat" class="link-inline" target="_blank">https://chat.mistral.ai/chat</a></p>
       </div>
    </section>

    <section role="complementary">
      <div class="max-w-[800px] mx-auto p-4">
        <img src="/2026-03-24-002.png" class="w-full my-4 rounded-lg shadow" alt="Interface DaVinci Resolve"/>
        <h2 class="text-2xl">3. DaVinci Resolve - professioneel video-editingpakket</h2>
        <p class="leading-7 mt-3">DaVinci Resolve is een krachtige tool voor snelle edits en cuts van videos. Blackmagic Design biedt ook bijpassende hardware, en DaVinci Resolve ondersteunt <strong>multi-user collaboration</strong>. Zoek je een <strong>gratis</strong> en professioneel video-editingpakket? Dit is het.</p>
        <p class="leading-7 mt-3">Check het: <a href="https://www.blackmagicdesign.com/products/davinciresolve" class="link-inline" target="_blank">https://www.blackmagicdesign.com/products/davinciresolve</a></p>
      </div>
    </section>

    <section role="complementary">
      <div class="max-w-[800px] mx-auto p-4">
        <img src="/2026-03-24-003.png" class="w-full my-4 rounded-lg shadow" alt="Interface Affinity Designer"/>
        <h2 class="text-2xl">4. Affinity Designer - Photoshop-alternatief met een eenmalige licentie</h2>
        <p class="leading-7 mt-3">De Affinity-suite is mijn favoriete <strong>alternatief</strong> voor Adobe Cloud. Ik werk er al meer dan zes jaar mee, wat me aanzienlijk veel <strong>bespaart</strong> vergeleken met een Adobe Cloud-subscription. Affinity is geen 1-op-1 kopie van Adobe-tools, maar na 2+ projecten beheers je de software grotendeels om productief te blijven. Affinity wordt geleverd met ingebouwde Vector-, Pixel- en Layout-studios, (Hey dat klinkt als Fireworks!) maar je zit er niet aan vast. Panels zijn herschikbaar en je kunt je favoriete tools combineren om custom studios te bouwen. Meerdere setups zijn op te slaan, eenvoudig te wisselen, en zelfs te delen met anderen of te downloaden. Het is maatwerk dat meebeweegt met jouw workflow.</p>
        <p class="leading-7 mt-3">Check het: <a href="https://www.affinity.studio" class="link-inline" target="_blank">https://www.affinity.studio</a></p>
      </div>
    </section>

    <section role="complementary">
      <div class="max-w-[800px] mx-auto p-4">
        <img src="/2026-03-24-004.png" class="w-full my-4 rounded-lg shadow" alt="Interface Fluister.dev"/>
        <h2 class="text-2xl">5. Fluister.dev - Gratis feedbacktool voor je website</h2>
        <p class="leading-7 mt-3">Een oud-collega lanceerde deze tool recent, en ik heb hem op mijn website ge&iuml;mplementeerd. Fluister.dev is gratis, eenvoudig te installeren via 1 line script, en direct live. Bovendien is de tool zeer aanpasbaar, waardoor hij flexibel inzetbaar is. Probeer het uit!</p>
        <p class="leading-7 mt-3">Check het: <a href="https://www.fluister.dev" class="link-inline" target="_blank">https://www.fluister.dev </a></p>
      </div>
    </section>
    
    <section role="complementary">
      <div class="max-w-[800px] mx-auto p-4">
        <p class="leading-7 my-6"><a href="/blog" class="mb-2 py-2 px-6 inline-block btn-primary">Terug naar overzicht</a></p>  
      </div>
    </section>

    <Footer />

    <ScrollToTop />
  </body>
</html>
