---
import "../../styles/global.css";
import ScrollToTop from '../../components/ScrollToTop.astro';
import Nav from '../../components/Nav.astro';
import Footer from '../../components/Footer.astro';
import Meta from '../../components/Meta.astro';
---

<html lang="nl">
  <head>
    <Meta />
    <title>TaiGraphics - UX/UI Designer met passie voor Visual Design, Branding en Front-end Development</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
  </head>
  <body class="font-['Inter'] bg-[#F5F5F5] border-t-8 border-[#0000FF]">

<Nav />

    <section role="main">
      <div class="max-w-[780px] mx-auto p-4">
        <h1 class="text-4xl mt-10 mb-10">Verdieping: IREB & Requirements-analyse</h1>
        <h2 class="text-2xl">Waarom ik het als verdieping zie?</h2>
        <p class="leading-8 mt-3">Door de huidige opmars van AI is de behoefte aan goede requirements-analyse en business-analyse naar mijn mening alleen maar toegenomen. Daarnaast kan het nooit kwaad om te kijken welke artifacts, tooling en werkwijzen vanuit andere rollen of vakgebieden worden toegepast. Ik heb daarom de training gedaan om mijn eigen toolbox te vergroten.</p>
      </div>
    </section>

    <section role="complementary">
      <div class="max-w-[780px] mx-auto p-4">
        <h2 class="text-2xl">Wat heb ik ervan geleerd?</h2>
        <p class="leading-8 mt-3">Zonder te diep in te gaan op de gehele cursus kan ik zeggen dat ik het interessant vond om te zien welke verschillende RE-approaches en perspectieven er zijn om tot een product of oplossing te komen. Zo is het belangrijk om te weten wanneer je prescriptive RE toepast of juist een andere aanpak kiest. Daarnaast komen de elicitation-werkwijzen sterk overeen met de aanpak van een UX'er. Bijvoorbeeld het KANO-model springt eruit; dit heb ik ooit toegepast in mijn project bij ASTRON en het was mooi om dat hierin terug te zien.</p>
        <p class="leading-8 mt-3">Voor mij is Requirements Engineering geen afstap van UX, maar een logische verbreding. Het stelt me in staat om niet alleen wat gebruikers willen te begrijpen, maar ook hoe dat technisch en strategisch gerealiseerd kan worden. Met deze vaardigheden ben ik beter voorbereid om de brug te slaan tussen gebruikers, business en technologie.</p>
      </div>
    </section>

    <section role="complementary">
      <div class="max-w-[780px] mx-auto p-4 pb-10">
        <h2 class="text-2xl">Hoe bereid je jezelf voor?</h2>
        <p class="leading-8 mt-3">Vanuit verschillende bronnen werd geadviseerd om het boek <em>Requirements Engineering Fundamentals</em> uit 2015 te lezen, een boek van ruim tien jaar oud. Het advies is goed bedoeld en het is zeker de moeite waard om het een keer te lezen, maar gebruik het alsjeblieft niet om je IREB CPRE-examen mee te oefenen; daarvoor is het simpelweg verouderd. Download en print in plaats daarvan het volledige <strong>IREB CPRE-handbook</strong> van de officieele website en maak oefenexamens, bijvoorbeeld via <strong>Udemy</strong>.</p>
        <p class="leading-8 mt-3">Lees niet alleen het handbook, maar pas de concepten toe in je huidige werk. Doe een stakeholderanalyse voor je volgende UX-project. Gebruik het KANO-model om features te prioriteren.
Schrijf use cases voor een bestaand product. Doe de examen trouwens in het Engels. Als non-native Engels spreker krijg je 30 minuten extra examentijd, en bovendien sluiten de vraagstelling en context beter aan.</p> 
        <p class="leading-8 mt-3">Succes!</p>
      </div>
    </section>

    <Footer />

    <ScrollToTop />
  </body>
</html>