---
interface Props {
  title?: string;
  quote: string;
  author: string;
  subtitle?: string;
}

const {
  title = "Recommendation",
  quote,
  author,
  subtitle = "",
} = Astro.props as Props;
---

<div class="grid grid-cols-[100%] gap-2 card-base card-stack">
  <div class="p-12">
    <h2 class="font-mono text-xs">{title}</h2>
    <p class="text-md font-serif leading-8 py-2 whitespace-pre-line">{quote}</p>
    <p class="text-xs text-[color:var(--color-primary)] leading-8 py-2">
      <strong>{author}</strong><br />
      {subtitle && <span class="text-[color:var(--color-text-subtle)]">{subtitle}</span>}
    </p>
  </div>
</div>
