---
// Footer.astro
---
<footer class="bg-white pt-10 pb-4 border-bottom-gradient-8" role="contentinfo">
    <div class="page-container-960 mt-8">
        <img class="mb-15" src="/footer-logo.png" alt="Client logo's" width="100%"/>
        <p class="text-2xl/10">Enthousiast geworden? Heb je iets nodig?</p>
        <p class="text-2xl/10"><strong>Creativiteit</strong> zit hier! Neem contact op!</p>
        <p class="my-2">UX/UI, Visual Design & Branding</p>
        <a href="/contact" class="btn-primary my-10 py-3 px-5">
            Say hi!
        </a>
        <div class="flex justify-center mt-12">
            <a href="https://accessibilitycheck.friendlycaptcha.com/audit?t=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJodHRwczovL3RhaWdyYXBoaWNzLm5sLyIsImlhdCI6MTc3NTAzNDEzMSwiZXhwIjoxNzc1MTIwNTMxfQ.ew0n7PNRbwgJgLmFTnYF6VwRR2bOyOQeNPucO0Gs8nM" title="Explanation of WCAG 2 Level AA conformance"><img height="32" width="88" src="https://www.w3.org/WAI/WCAG22/wcag2.2AA" alt="Level AA conformance, W3C WAI Web Content Accessibility Guidelines 2.2"></a>
        </div>
        <div class="flex justify-center space-x-4 mt-8">
            <!-- Load Social Icons -->
            <script src="https://code.iconify.design/3/3.1.1/iconify.min.js"></script>
            <a href="https://github.com/ktai88" aria-label="GitHub Profiel" title="GitHub Profiel" target="_blank" rel="noopener noreferrer"><span class="iconify footer-social-icon icon-brand text-[32px]" data-icon="mdi:github"></span></a>
            <a href="http://www.linkedin.com/in/kevintai" aria-label="LinkedIn Profiel" title="LinkedIn Profiel" target="_blank" rel="noopener noreferrer"><span class="iconify footer-social-icon icon-brand text-[32px]" data-icon="mdi:linkedin"></span></a>
            <a href="https://www.behance.net/nescio88" aria-label="Behance Profiel" title="Behance Profiel" target="_blank" rel="noopener noreferrer"><span class="iconify footer-social-icon icon-brand text-[32px]" data-icon="mdi:behance"></span></a>
            <a href="https://dribbble.com/KevinTai88"  aria-label="Dribbble Profiel" title="Dribbble Profiel" target="_blank" rel="noopener noreferrer"><span class="iconify footer-social-icon icon-brand text-[32px]" data-icon="mdi:dribbble"></span></a>
        </div>
    </div>
</footer>