---
// Nav.astro
const pathname = Astro.url.pathname;
---

<nav class="sticky top-3 z-50 bg-white opacity-95 shadow-md mx-auto pl-4 pr-9 min-h-[60px] max-w-[95%] sm:max-w-[800] lg:max-w-[1000px] rounded-full  flex items-center md:justify-between" aria-label="Hoofd navigatie">
    <!-- Logo -->
    <a href="/" aria-label="TaiGraphics">
    <p class="md:block text-md">
        <img class="hidden sm:block md:w-40" src="/logo.svg" alt="Logo"/>
    </p>
    </a>
    <!-- Navigation -->
    <ul class="flex ml-3 space-x-3 md:space-x-8 text-black text-xs md:text-base">
    <li class="mt-3"><a href="/#ux" class="text-nowrap hover:text-[#0000FF] hover:underline">UX</a></li>
    <li class="mt-3"><a href="/#ui" class="text-nowrap hover:text-[#0000FF] hover:underline">UI</a></li>
    <li class="mt-3">
      <a
        href="/showcase"
        aria-current={pathname === "/showcase" ? "page" : undefined}
        class={`text-nowrap hover:text-[#0000FF] hover:underline ${pathname === "/showcase" ? "text-[#0000FF] underline" : ""}`}
      >
        Showcase
      </a>
    </li>
    <li class="mt-3">
      <a
        href="/blog"
        aria-current={pathname === "/blog" ? "page" : undefined}
        class={`text-nowrap hover:text-[#0000FF] hover:underline ${pathname === "/blog" ? "text-[#0000FF] underline" : ""}`}
      >
        On my mind
      </a>
    </li>
    <li>
        <a href="/contact" class="text-nowrap block mt-1 md:mt-1 py-2 px-3 bg-[#0000FF] transition duration-250 ease-in-out border border-[#F5F5F5] text-white text-xs md:text-sm rounded-full hover:bg-white hover:text-[#0000FF] hover:border hover:border-[#0000FF]">
        Say hi!
        </a>
    </li>
    </ul>
</nav>