---
// Nav.astro
---

<nav class="max-w-[860px] mx-auto p-4 my-4 flex items-center md:justify-between">
    <!-- Logo -->
    <a href="/"><h1 class="hidden md:block text-md">
    <span class="font-bold text-[#0000FF]">Tai</span><span class="font-light">Graphics</span>
    </h1></a>

    <!-- Navigation -->
    <ul class="flex space-x-6 text-black text-cx md:text-base">
    <li class="mt-4" ><a href="/#ux" class="hover:text-[#0000FF] hover:underline">UX</a></li>
    <li class="mt-4"><a href="/#ui" class="hover:text-[#0000FF] hover:underline">UI</a></li>
    <li class="mt-4"><a href="/showcase" class="hover:text-[#0000FF] hover:underline">Design Showcase</a></li>
    <li>
        <a href="/contact" class="block py-4 px-6 bg-[#0000FF] transition duration-250 ease-in-out border border-[#F5F5F5] text-white rounded-full hover:bg-white hover:text-[#0000FF] hover:border hover:border-[#0000FF]">
        Plan een gesprek!
        </a>
    </li>
    </ul>
</nav>