---
// ScrollToTop.astro
---
<button
  id="scroll-top-btn"
  class="fixed w-10 h-10 bottom-6 right-33 bg-[#0000FF] border border-[#0000FF] hover:border-[#2B7FFF] text-white p-2 rounded-full shadow-lg hover:bg-blue-500 transition-opacity duration-300 opacity-0 pointer-events-none"
>
  <span>&#8593;</span>
</button>

<script client:load>
  const btn = document.getElementById('scroll-top-btn');

  // Show/hide button after scrolling 100px
  window.addEventListener('scroll', () => {
    if (window.scrollY > 100) {
      btn.classList.remove('opacity-0', 'pointer-events-none');
      btn.classList.add('opacity-100');
    } else {
      btn.classList.add('opacity-0', 'pointer-events-none');
      btn.classList.remove('opacity-100');
    }
  });

  // Scroll to top on click
  btn.addEventListener('click', () => {
    window.scrollTo({ top: 0, behavior: 'smooth' });
  });
</script>
<script src="https://fluister.dev/widget.js" data-project="fac1deb62c3e50bbae40e632f87120c372b60d0f3bfd5d3a" data-style="minimal"  data-border-radius="50px"
 data-icon="none" data-color="#0000FF" data-hover-color="#2B7FFF"></script>